*{
  font-family: 'Inter', sans-serif;
  color: #EDEAF1;
}

.page-container {
  display: flex;
  flex-direction: column;
  background: #040517;
  min-height: 100vh;
}

.content-container {
  flex: 1;
  margin-left: 113px;
  padding: 26px 4rem 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.main-content-header {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 26px;
}
.main-content-header-title {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 6px;
  h1 {
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
  }
  p {

    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }
}
.tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  
  a {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 8px 16px 8px 16px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: rgba(126, 104, 225, 0.2);
    }

    &.active {
      background-color: #EDEAF1;
      color: #040517;
      &:first-child {
        border-top-left-radius: 4px;
        padding-right: 32px;
      }
      &:last-child {
        border-top-right-radius: 4px;
        padding-left: 32px;
      }
    }
  }
}
.tab-content {
  flex: 1;
}