// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

// Local Font Imports (Fontsource)
@import '@fontsource/inter/100.css';
@import '@fontsource/inter/200.css';
@import '@fontsource/inter/300.css';
@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/600.css';
@import '@fontsource/inter/700.css';
@import '@fontsource/inter/800.css';
@import '@fontsource/inter/900.css';

@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';

@import '@fontsource/syne/400.css';
@import '@fontsource/syne/500.css';
@import '@fontsource/syne/600.css';
@import '@fontsource/syne/700.css';
@import '@fontsource/syne/800.css';

@import '@fontsource/manrope/200.css';
@import '@fontsource/manrope/300.css';
@import '@fontsource/manrope/400.css';
@import '@fontsource/manrope/500.css';
@import '@fontsource/manrope/600.css';
@import '@fontsource/manrope/700.css';
@import '@fontsource/manrope/800.css';


// Ensure Material Icons work properly
.material-icons,
mat-icon {
  font-family: 'Material Icons' !important;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  // Default the application to a dark color theme for the landing page
  color-scheme: dark;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  color: #EDEAF1;
  font: var(--mat-sys-body-medium);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html, body {
  font-size: 1rem; /* Default */
  
  @media screen and (min-width: 2300px) {
    font-size: 1.33rem;
  }
}

body { 
  margin: 0; 
  font-family: 'Syne', Roboto, "Helvetica Neue", sans-serif;
  color: #EDEAF1;
  min-height: 100vh;
}
:root {
  --base-white: #EDEAF1;
  --font-primary: 'Syne';
  --font-secondary: 'Manrope';
  --font-tertiary: 'Inter';
  --font-quaternary: 'Roboto';
}
